
body {
    background-color: #6833be;
    color: rgb(182, 38, 38);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #690ac2;
    color: rgb(207, 9, 9);
    font-family: "Bai Jamjuree", sans-serif;
}
